<style>
	
body {
text-align: center;
margin: 0;
width: 850px;
margin-top:35px;
margin-bottom:35px;
margin-left: auto;
margin-right: auto;
}

h1 {
font-family: "Raleway";
text-align: center;
color: #FFFFFF;
letter-spacing: 1px,
font-weight: 400;
font-size: 45;
margin: 0;
padding: 30px 20px 30px 20px;
}

nav {
font-family: "Raleway";
text-align: center;
text-decoration: underline;
color: #FFFFFF;
letter-spacing: 1px;
font-weight: 600;
font-size: 18px;
background-color: #00A6B3; 
color: #FFFFFF;
padding-top: 20px;
padding-bottom: 20px;
margin-left: 20px;
margin-right: 20px;
}

a {
margin: 0px 20px 0px 20px;
color: #FFFFFF;
text-decoration: none;
border-bottom: 2px solid transparent;
font-family: Raleway;
letter-spacing: 1px;
font-weight: 400;
font-size: 18px;
}

h2 {
font-family: "Raleway";
text-align: center;
color: #0D2C40;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;
}

p {
font-family: "Droid Serif";
text-align: center;
line-height: 26PX;
font-size: 18px;
}

header {
background-color: #F15B31;
color: #FFFFFF
padding: 30px 20px 30px 20px;
font-family: "Raleway";
}

img {
margin: 40px 8px 0 8px;
object-fit: cover;
}

footer {
text-transform: uppercase;
padding: 0 20px;
background-color: #0D2C40;
color: white;
font-size: 14px;
letter-spacing: .08em;
font-weight: 500;
}

.copyright {
font-family: "Raleway";
float: left;
}

.message {
font-family: "Raleway";
float: right;
text-align: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name{
color: #F15B31;
font-weight: 700;
}

a:hover {
border-bottom: 2px solid transparent;
}

a:hover {
	border: white
}

</style>